/*body*/
body{
    background-color:;
}

/*===============================================================home
=================================================================*/
#home{
    background-color:#30282A  ;
    height: 700px;
    width: 100%;
    color: white;
}
.top-nav{
   color: white;
    margin-top: 0px;
    text-align: center;
}
header{
    font-size: 25px; 
   padding-left: 50px;
    padding-top: 100px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.button{
    border: 1px;
    height: 70px;
    width:100px;
    opacity: 0;
}
/*===============================================================work
=================================================================*/
#work{
    padding-top: 0px;
    height: 700px;
    width: 1285px;
    display: table-cell;
   
}
.left{
    background-color: whitesmoke;
    float: left;
    border: 1px;
width: 40%;
    height: 700px;
display: table-cell;
vertical-align: middle;
overflow: auto;
   
}
.right{
    background-color:#F63C3C;
   float: right;
width: 60%;
    height: 700px;
display: table-cell;
vertical-align: middle;


overflow: auto;
}
.space{
    margin-top:100px;
    background-color: #30282A;
    height: 200px;
}
.discover{
    padding-top: 100px;
}
/*=========================================================about
===========================================================*/
#about{
    height: 700px;
    width: 100px;
}
/*history/title*/
#about{
    margin-top: 50px;
}
.same-line{
 
    padding-top: 0px;
    height: 700px;
    width: 1285px;
    display: inline-block;
    margin-bottom: 20px;
   
}
.history{
    padding-left: 150px;
float: left; 
width: 50%;
    height: 700px;
display: table-cell;
vertical-align: middle;
    width: 50%;
height: 600px  

}


.title img{
   width: 50%;
float: right;
width: 50%;
    height:
        600px;
display: table-cell;
vertical-align: middle;
}



/*styles2*/
.footer {
    margin-bottom: 150px;
    padding-bottom: 50px;
}
.left-bottom {
    float: left;
}
.left-bottom p {
    text-align: left;
    padding-left: 150px;
    width: 350px;
}
.list {
    list-style: none;
    padding-left: 150px;
    width: 25px;
}
#submit_btn {
    color: darkred;
}
.right-bottom {
    float: right;
    width: 700px;
    text-align: center;
}
.le {
    float: left;
    width: 350px;
    background-color: darkgray;
    height: 80px;
}
.ri {
    float: right;
    width: 350px;
    background-color: darkslategrey;
    height: 80px;
}
.now {
    float: left;
    width: 350px;
    background-color: darkslategrey;
    height: 80px;
}
.then {
    float: right;
    width: 350px;
    background-color: darkgray;
    height: 80px;
}
.links {
    background-color: black;
    color: floralwhite;
    text-align: center;
    height: 350px;
}
.logos img {
    display: inline-block;
    color: floralwhite;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}
#journal div {
    display: inline-block;
    width: 250px;
    align-content: center;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}
#journal {
    margin-left: 150px;
    margin bottom: 80px;
}
.black {
    width: 50px;
    height: 50px;
    background-color: black;
}
.touch {
    background-color: black;
    text-align: center;
}
.touch p {
    color: floralwhite;
}
.ahem {
    text-decoration: underline;
    color: floralwhite;
}
#services div{
    display: inline-block;
    width: 380px;
    height: 80px;
}
#services{
    margin-left: 80px;
    margin-top: 150px;
}