/*body*/
body{
    background-color:;
}

/*===============================================================home
=================================================================*/
#home{
    background-color:#30282A  ;
    height: 700px;
    width: 100%;
}
.top-nav{
   
    margin-top: 0px;
    text-align: center;
}
header{
    font-size: 25px; 
   padding-left: 50px;
    padding-top: 100px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.button{
    border: 1px;
    height: 70px;
    width:100px;
    opacity: 0;
}
/*===============================================================work
=================================================================*/
#work{
    padding-top: 0px;
    height: 700px;
    width: 1285px;
    display: table-cell;
   
}
.left{
    background-color: whitesmoke;
    float: left;
    border: 1px;
width: 40%;
    height: 700px;
display: table-cell;
vertical-align: middle;
overflow: auto;
   
}
.right{
    background-color:#F63C3C;
   float: right;
width: 60%;
    height: 700px;
display: table-cell;
vertical-align: middle;


overflow: auto;
}
.space{
    margin-top:100px;
    background-color: #30282A;
    height: 200px;
}
.discover{
    padding-top: 100px;
}
/*=========================================================about
===========================================================*/
#about{
    height: 700px;
    width: 100px;
}