/*body*/
body{
    background-color:;
}
.button{
    height: 60px;
    width: 100px;
    border: 1px solid red;
    background-color: red;
    
}
a{
    color: white;
}
/*===============================================================home
=================================================================*/
#home{
    background-color:#30282A  ;
    height: 700px;
    width: 100%;
    color: white;
}

.top-nav{
   color: white;
    margin-top: 0px;
    text-align: center;
   
    height: inherit;
   
   
}
header{
    font-size: 25px; 
   padding-left: 50px;
    margin-top: -600px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
a .button{
    border: 1px;
    height: 70px;
    width:100px;
    opacity: 0;
    margin-left: 400px;
}
/*===============================================================work
=================================================================*/
#work{
    padding-top: 0px;
    height: 700px;
    width: 1285px;
    display: table-cell;
   
}
.left{
    background-color: whitesmoke;
    float: left;
    border: 1px;
width: 40%;
    height: 700px;
display: table-cell;
vertical-align: middle;
overflow: auto;
   
}
.right{
    background-color:#F63C3C;
   float: right;
width: 60%;
    height: 700px;
display: table-cell;
vertical-align: middle;
overflow: auto;
     

}
 .text{
   padding-left: 50px;
    padding-top: 400px;
}
.space{
    margin-top:100px;
    background-color: #30282A;
    height: 200px;
}
.discover{
    padding-top: 100px;
}
/*=========================================================about
===========================================================*/
#about{
    height: 700px;
    width: 100px;
}
/*history/title*/
#about{
    margin-top: 50px;
   
}
.same-line{
 
    padding-top: 0px;
    height: 700px;
    width: 1285px;
    display: inline-block;
    margin-bottom: 20px;
   
}
.history{
 border: 1px; 
float: left; 
width: 20%;
    height: 700px;
display: table-cell;
vertical-align: middle;
    width: 50%;
height: 600px ;
    text-align: center;

}


.title img{
   width: 50%;
float: right;
width: 50%;
    height:
        600px;
display: table-cell;
vertical-align: middle;
    
}

.mid-logo{
    display: inline;
}


/*========================================================styles2
==========================================================*/
.footer {
    margin-bottom: 150px;
    padding-bottom: 50px;
}
.left-bottom {
    float: left;
}
.left-bottom p {
    text-align: left;
    padding-left: 150px;
    width: 350px;
}
.list {
    list-style: none;
    padding-left: 150px;
    width: 25px;
}
#submit_btn {
    color: darkred;
}
.right-bottom {
    float: right;
    width: 700px;
    text-align: center;
}
.le {
    float: left;
    width: 350px;
    background-color: darkgray;
    height: 80px;
}
.ri {
    float: right;
    width: 350px;
    background-color: darkslategrey;
    height: 80px;
}
.now {
    float: left;
    width: 350px;
    background-color: darkslategrey;
    height: 80px;
}
.then {
    float: right;
    width: 350px;
    background-color: darkgray;
    height: 80px;
}
.links {
    background-color: #30282A;
    color: floralwhite;
    text-align: center;
    height: 350px;
}
.logos img {
    display: inline-block;
    color: floralwhite;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}
#journal div {
    display: inline-block;
    width: 250px;
    align-content: center;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}
#journal {
    margin-left: 150px;
    margin bottom: 80px;
}
.black {
    width: 50px;
    height: 50px;
    background-color: #30282A;
    margin-top: 100px;
}
.touch {
    background-color: #30282A;
    text-align: center;
}
.touch p {
    color: floralwhite;
}
.ahem {
    text-decoration: underline;
    color: floralwhite;
}
#services div{
    display: inline-block;
    width: 380px;
    height: 80px;
}
#services{
    margin-left: 80px;
    margin-top: 150px;
    background-color: whitesmoke;
    height: 500px;
    width: 1285px;
}

/*fonts*/
h1,h2,a{
        font-family: 'Oswald', sans-serif;
}
body{
    font-family: 'Raleway', sans-serif;
}